/* Css Grid Layout */
.layout {
    display: grid;
    grid-template-rows: 215px 200px 200px 200px 200px 200px 200px 200px 200px 200px 90px;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    grid-column: 1/4;
    grid-row: 1/2;
}

.main {
    grid-column: 1/3;
    grid-row: 2/11;
}

.sidebar {
    grid-column: 3/4;
    grid-row: 2/11;
}

.footer {
    grid-column: 1/4;
    grid-row: 11/12;
}

.top-talk__card1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.top-talk__card2 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.top-talk__card3 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.top-talk__card4 {
    grid-column: 2/3;
    grid-row: 5/6;
}

.top-talk__card5 {
    grid-column: 1/2;
    grid-row: 6/7;
}

.top-talk__card6 {
    grid-column: 2/3;
    grid-row: 7/8;
}

.top-talk__card7 {
    grid-column: 1/2;
    grid-row: 8/9;
}

.top-talk__card8 {
    grid-column: 2/3;
    grid-row: 9/10;
}

.beginning {
    grid-column: 1/3;
    grid-row: 10/11;
}



/* header */
.header {
    width: 100%;
    position: relative;
    height: 60px;
    z-index: 100;
    background-color: white;
}

img {
    width: 95%;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
}

header nav {
    width: 100%;
    background-color: rgb(28, 7, 134);
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

.header-nav-list {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 40px;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.header-ttl {
    color: black;
    padding: 50px;
    font-size: 40px;
    padding-left: 20px;
    font-weight: 560;
    text-shadow: 2px 2px 4px #615d5d;
    text-decoration-line: none;
    text-align: center;
}

.header-ttl::before {
    content: url();
}


/* メイン設定 */
.main {
    margin-left: 20px;
    margin-right: 15px;
}


/* サイドバー */
.sidebar {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.sidebar-ttl {
    width: 100%;
    padding-top: 40px;
}

.face {
    width: 150px;
    height: 150px;
}

.name {
    padding-top: 10px;
}

.profession {
    padding-top: 15px;
    font-size: 10px;
}

.introduction {
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 25px;
    line-height: 30px;
    font-size: 13px;
    text-align: left;
    margin: auto;
}


/* フッター設定 */
.footer {
    width: 100%;
    background-color: rgb(28, 7, 134);
    line-height: 20px;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-ttl {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.footer-nav-list {
    display: flex;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-nav-item:not(:last-child) {
    margin-right: 30px;
}

.copyright {
    font-size: 12px;
    padding-bottom: 10px;
}


/* top-talk__card1 */
.card1__item {
    background-color: black;
    width: 400px;
    height: 200px;
    position: relative;
}

.item__white-border {
    background-color: white;
    width: 394px;
    height: 194px;
    border-radius: 4px;
    z-index: 700;
    position: absolute;
    top: 3px;
    left: 3px;
}

.white-border__black-border {
    background-color:black;
    width: 383px;
    height: 183px;
    border-radius: 4px;
    z-index: 800;
    position: absolute;
    top: 6px;
    left: 6px;
}

.black-border__content {
    color: white;
    font-size: 20px;
    z-index: 900;
    position: absolute;
    line-height: 30px;
    top: 18px;
    left: 13px;
}


/* top-talk__card2 */
.card2__item2 {
    background-color: black;
    width: 200px;
    height: 120px;
    position: relative;
    top: 30px;
    left: 490px;
}

.item2__white-border2 {
    background-color: white;
    width: 194px;
    height: 114px;
    border-radius: 4px;
    z-index: 700;
    position: absolute;
    top: 3px;
    left: 3px;
}

.white-border2__black-border2 {
    background-color: black;
    width: 185px;
    height: 105px;
    border-radius: 4px;
    z-index: 800;
    position: absolute;
    top: 4.5px;
    left: 4.5px;
}
.black-border2__content {
    color: white;
    font-size: 20px;
    z-index: 900;
    position: absolute;
    line-height: 30px;
    top: 20px;
    left: 20px;
}

.card2__icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 215px;
    padding-top: 10px;
}


/* top-talk__card3 */
.card3__item3 {
    background-color: black;
    width: 405px;
    height: 125px;
    position: relative;
    top: 60px;
}

.item3__white-border3 {
    background-color: white;
    width: 399px;
    height: 119px;
    border-radius: 4px;
    z-index: 700;
    position: absolute;
    top: 3px;
    left: 3px;
}

.white-border3__black-border3 {
    background-color: black;
    width: 388px;
    height: 108px;
    border-radius: 4px;
    z-index: 800;
    position: absolute;
    top: 6px;
    left: 5.5px;
}

.black-border3__content {
    color: white;
    font-size: 20px;
    z-index: 900;
    position: absolute;
    line-height: 30px;
    top: 25px;
    left: 10px;
}


/* top-talk__card4 */
.card4__item4 {
    background-color: black;
    width: 200px;
    height: 120px;
    position: relative;
    top: 110px;
    left: 490px;
}

.item4__white-border4 {
    background-color: white;
    width: 194px;
    height: 114px;
    border-radius: 4px;
    z-index: 700;
    position: absolute;
    top: 2.5px;
    left: 3px;
}

.white-border4__black-border4 {
    background-color: black;
    width: 185px;
    height: 105px;
    border-radius: 4px;
    z-index: 800;
    position: absolute;
    top: 4.5px;
    left: 4.5px;
}

.black-border4__content {
    color: white;
    font-size: 20px;
    z-index: 900;
    position: absolute;
    line-height: 30px;
    top: 20px;
    left: -5px;
}

.card4__icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 728px;
}


/* top-talk__card5 */
.card5__item5 {
    background-color: black;
    width: 210px;
    height: 100px;
    position: relative;
    top: 180px;
}

.item5__white-border5 {
    background-color: white;
    width: 204px;
    height: 96px;
    border-radius: 4px;
    z-index: 700;
    position: absolute;
    top: 2px;
    left: 2.5px;
}

.white-border5__black-border5 {
    background-color: black;
    width: 193px;
    height: 85px;
    border-radius: 4px;
    z-index: 800;
    position: absolute;
    top: 5.5px;
    left: 5.5px;
}

.black-border5__content {
    color: white;
    font-size: 20px;
    z-index: 900;
    position: absolute;
    top: 30px;
    left: 15px;
}


/* top-talk__card6 */
.card6__item6 {
    background-color: black;
    width: 200px;
    height: 100px;
    position: relative;
    top: 200px;
    left: 490px;
}

.item6__white-border6 {
    background-color: white;
    width: 194px;
    height: 96px;
    border-radius: 4px;
    z-index: 700;
    position: absolute;
    top: 2px;
    left: 2.5px;
}

.white-border6__black-border6 {
    background-color: black;
    width: 185px;
    height: 85px;
    border-radius: 4px;
    z-index: 800;
    position: absolute;
    top: 5px;
    left: 5px;
}

.black-border6__content {
    color: white;
    font-size: 20px;
    z-index: 900;
    position: absolute;
    top: 30px;
    left: 5px;
}

.card6__icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 728px;
    padding-top:100px;
}


/* top-talk__card7 */
.card7__item7 {
    background-color: black;
    width: 360px;
    height: 160px;
    position: relative;
    top: 310px;
}

.item7__white-border7 {
    background-color: white;
    width: 354px;
    height: 156px;
    border-radius: 4px;
    z-index: 700;
    position: absolute;
    top: 2px;
    left: 3px;
}

.white-border7__black-border7 {
    background-color: black;
    width: 343px;
    height: 145px;
    border-radius: 4px;
    z-index: 800;
    position: absolute;
    top: 5.5px;
    left: 5.5px;
}

.black-border7__content {
    color: white;
    font-size: 40px;
    z-index: 900;
    position: absolute;
    top: 50px;
    left: 10px;
    font-weight: bold;
}


/* top-talk__card8 */
.card8__item8 {
    background-color: black;
    width: 205px;
    height: 100px;
    position: relative;
    top: 380px;
    left: 490px;
}

.item8__white-border8 {
    background-color: white;
    width: 200px;
    height: 96px;
    border-radius: 3px;
    z-index: 700;
    position: absolute;
    top: 2px;
    left: 2.5px;
}

.white-border8__black-border8 {
    background-color: black;
    width: 190px;
    height: 85px;
    border-radius: 4px;
    z-index: 800;
    position: absolute;
    top: 5px;
    left: 5px;
}

.black-border8__content {
    color: white;
    font-size: 20px;
    z-index: 900;
    position: absolute;
    top: 30px;
    left: 20px;
}

.card8__icon {
    width: 100px;
    height: 100px;
    position: absolute;
    padding-top: 280px;
    left: 735px;
}


/* beginning */
.card__title {
    padding-top: 460px;
    padding-left: 80px;
    font-size: 40px;
    line-height: 120px;
    font-weight: bold;
}



















/* 画面の幅が細くなると.mainの下に.sidebarが表示されるレスポンシブデザイン */
/* 幅が600px以下のときのレイアウト */

/* 幅が600px以下のときのレイアウト */

/* スマホ画面になると縦並び */

@media screen and (max-width: 600px) {
    .top-talk {
        display: block;
    }
}

/* レスポンシブデザイン */

/* レスポンシブ (768px以上)*/
@media screen and (min-width: 768px) {
    .top-talk__card2 {
        width: 45%;
    }
}

/* レスポンシブ (1000px以上)*/
@media screen and (min-width: 1000px) {
    .top-talk__card2 {
        width: 30%;
        margin-bottom: 0;
    }
}


/* 画面が狭まると縦並びレスポンシブ */
@media screen and (max-width: 768px) {
    .top-talk {
        width: 49%;
    }
}

@media screen and (max-width: 480px) {
    .top-talk {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .top-talk__card2 {
        width: 49%;
    }
}

@media screen and (max-width: 480px) {
    .top-talk__card2 {
        width: 100%;
    }
}



