
/* header */

header {
    width: 100%;
    position: relative;
    height: 60px;
    z-index: 100;
    background-color: white;
}

img {
    width: 95%;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
}

header h2 {
    padding: 15px;
    font-size: 30px;
    padding-left: 20px;
    font-weight: 400;
}

header nav {
    width: 100%;
    background-color: black;
    padding-bottom: 10px;
    padding-left: 20px;
}

header nav ul li {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 40px;
}

header ul li a {
    text-decoration: none;
    color: white;
}


/* contents */

#contents {
    margin-top: 120px;
}

p.ad {
    padding-left: 50px;
}

.top-tab {
    display: inline-flex;
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.top-tab li {
    padding: 15px 68px;
    margin-left: 2px;
    text-align: center;
    background: #f1f4f4;
    margin-bottom: 3px;
    color: black;
    font-size: 14px;
    font: bold;
    display: block;
    padding-left: -2px;
}


/* article */

        /* 横幅めいいっぱいのボックス四角い枠 親要素*/
.flex__item {
    display: flex;
    justify-content: space-between;
}

        /* flex__itemの子要素　四角い枠 */
.practice__card {
    width: 40%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

        /* practice__cardの子要素　画像 */
.card__img img {
    width: 100%;
}

        /* practice__cardの子要素　画像の下の文字スペース四角 */
.card__content {
    padding: 15px 25px;
}

        /* card__contentの子要素　カテゴリーの四角枠 */
.card__cat {
    padding: 5px 10px;
    background: yellow;
    color: blue;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
}

        /* card__contentの子要素　タイトル */
.card__ttl {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

        /* タグと日付の親要素枠 */
.tag {
    font-size: 14px;
    text-align: right;
}

        /* .tagの子要素 */
.card__tag {
    display: inline-block;
    color: #008888;
}

.card__date {
    display: inline-block;
    margin-left: 20px;
    color: #888888;
}