/* Css Grid Layout */
.layout {
    display: grid;
    grid-template-rows: 215px 1800px 90px;
    grid-template-columns: 1fr;
}

.header {
    grid-column: 1/2;
    grid-row: 1/2;
}

.main {
    grid-column: 1/2;
    grid-row: 2/3;
}

.footer {
    grid-column: 1/2;
    grid-row: 3/4;
}


/* header */
.header {
    width: 100%;
    height: 60px;
    z-index: 100;
    background-color: white;
}

header nav {
    width: 100%;
    background-color: rgb(28, 7, 134);
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
}

.header-nav-list {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 40px;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.header-ttl {
    color: black;
    padding: 50px;
    font-size: 40px;
    padding-left: 20px;
    font-weight: 560;
    text-shadow: 2px 2px 4px #615d5d;
    text-decoration-line: none;
    text-align: center;
}



/* メイン設定 */
.content {
    max-width: 1230px;
}

.total {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.amount {
    padding-top: 20px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.use, .gain {
    padding: 40px;
    margin-left: 260px;
    font-size: 25;
    font-weight: bold;
}

.use-total, .gain-total {
    margin-top: 10px;
}


/* table */
.table {
    margin-left: 180px;
}

.table-use, .table-gain, .table-title2 {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-use, .table-gain, .table2-use, .table2-gain {
    padding: 30px;
    width: 400px;
}

.table2-use, .table2-gain {
    font-size: 12px;
    border: 1px solid black;
}






/* フッター設定 */
.footer {
    width: 100%;
    background-color: rgb(28, 7, 134);
    line-height: 20px;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-ttl {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.footer-nav-list {
    display: flex;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-nav-item:not(:last-child) {
    margin-right: 30px;
}

.copyright {
    font-size: 12px;
    padding-bottom: 10px;
}


/* 画面が狭まると縦並びレスポンシブ */

@media (max-width: 824px) {
    .layout {
        grid-template-rows: 99 824 42;
        grid-template-columns: 1fr;
    }

    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .main {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .footer {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .header ul li a {
        text-decoration: none;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 10px;
    }

    .header-ttl {
        width: 100%;
        color: black;
        padding: 50px;
        font-size: 18px;
        font-weight: 560;
        text-shadow: 2px 2px 4px #615d5d;
        text-decoration-line: none;
    }

    header nav {
        width: 100%;
        background-color: rgb(28, 7, 134);
        padding-bottom: 20px;
        padding-top: 10px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .main {
        font-size: 14px;
    }

    .use, .gain {
        width: 130px;
        margin-left: 150px;
    }

    .footer {
        width: 100%;
        background-color: rgb(28, 7, 134);
        line-height: 20px;
        color: white;
        padding: 20px 0;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .footer-inner {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .footer-ttl {
        font-size: 15px;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-nav-list {
        display: flex;
        font-weight: bold;
        width: 100%;
        justify-content: center;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .footer-nav-item:not(:last-child) {
        margin-right: 30px;
    }

    .copyright {
        font-size: 12px;
        padding-bottom: 10px;
    }

}


@media (max-width: 480px) {
    .layout {
        grid-template-rows: 57 480 35;
        grid-template-columns: 1fr;
    }

    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .main {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .footer {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .copyright {
        font-size: 8px;
        padding-bottom: 10px;
    }

    header ul li a {
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 7px;
    }

    .header-ttl {
        width: 100%;
        color: black;
        padding: 50px;
        font-size: 18px;
        padding-left: 20px;
        font-weight: 560;
        text-shadow: 2px 2px 4px #615d5d;
        text-decoration-line: none;
        text-align: center;
        margin-left: 10px;
    }

    header nav {
        width: 100%;
        background-color: rgb(28, 7, 134);
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 20px;
        margin-bottom: 40px;
    }

    .footer {
        width: 100%;
        background-color: rgb(28, 7, 134);
        line-height: 20px;
        color: white;
        padding: 20px 0;
        text-align: center;
        margin-top: 10px;
    }

    .footer-ttl {
        font-size: 12px;
        text-align: center;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .footer-nav-list {
        display: flex;
        font-weight: bold;
        width: 100%;
        justify-content: center;
        font-size: 8px;
        margin-bottom: 10px;
    }

}